@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger"><img src="~/cowboy-cafe-images/cowboy-cafe-images/BuckingBronco.png" alt="Bucking Bronco" /></h1>
<p class="text-danger">Whoops partner, you just got bucked off by an error!</p>


